# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

apiVersion: v1
kind: Pod
metadata:
  name: testpod
  namespace: ${namespace}
spec:
  containers:
  - image: ${kyuubi_image}
    name: kyuubi
