# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Temporary Release to Charmhub

on:
  push:
    branches:
      - main
      - data-integrator

jobs:
  ci-tests:
    uses: ./.github/workflows/ci.yaml
    secrets: inherits


  release:
    name: Release charm
    needs:
      - ci-tests
    uses: canonical/data-platform-workflows/.github/workflows/release_charm.yaml@v29.0.0
    with:
      channel: latest/edge/bikalpa 
      artifact-prefix: ${{ needs.ci-tests.outputs.artifact-prefix }}
    secrets:
      charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
    permissions:
      contents: write  # Needed to create git tags
